.Projects {
    height: 100%;
    margin-top: 56px;
    padding: 30px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.Title {
    font-size: 30px;
    text-align: center;
    color: #525252;
    padding-bottom: 0px;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
    .Projects {
        padding: 45px;
    }

    .Title {
        font-size: 35px;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    .Projects {
        padding: 60px;
    }

    .Title {
        font-size: 40px;
    }
}