.NavigationItem {
    display: block;
    width: 90%;
    background-color: #95585C;
    color: white;
    text-decoration: none;
    margin-top: 2px;
    height: 60px;
    line-height: 165%;
    border-left: 10px solid #525252;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
    background-color:rgba(200, 116, 122); 
    color: #525252;
}