.HomeSummary {
    text-align: center;
    background-color: rgba(200, 116, 122, 0.1);
    background-image: linear-gradient(rgba(200, 116, 122, 0.1), white, rgba(200, 116, 122, 0.1));
    height: 100%;
    margin-top: 56px;
    padding: 30px;
}

h1 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #525252;
    margin: 0;
    padding-bottom: 30px;
}

.IntroCopy {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #525252;
    margin: 0;
    padding-bottom: 30px;
}

.MyInfo {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    text-align: left;
    max-width: 250px;
}

.References {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.Logos {
    height: 36px;
    padding-left: 8px;
}

.ReferenceText {
    font-size: 12px;
    margin: 0;
}

.LinkIcons {
    font-size: 9px;
}

.LearnMore {
    padding-top: 30px;
}

.LearnMoreText {
    font-size: 18px;
    color: #95585C;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.LearnMoreText:hover {
    color: #C8747A;
}

.LearnMoreText:active {
    color: #C8747A;
}

.RightArrowIcon {
    vertical-align: bottom;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
    .HomeSummary {
        padding: 45px;
    }

    h1 {
        font-size: 35px;
    }
    
    .IntroCopy {
        font-size: 24px;
    }

    .MyInfo {
        max-width: 300px;
    }

    .Logos {
        height: 40px;
        padding-left: 10px;
    }
    
    .ReferenceText {
        font-size: 14px;
    }

    .LinkIcons {
        font-size: 10px;
    }

    .LearnMore {
        padding-top: 45px;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    .HomeSummary {
        padding: 60px 45px;
    }

    h1 {
        font-size: 40px;
    }
    
    .IntroCopy {
        font-size: 25px;
    }

    .MyInfo {
        max-width: 300px;
    }
}