.Education {
    height: 100%;
    padding-bottom: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.Title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 15px;
    color: #525252;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
    .Education {
        padding-bottom: 30px;
    }

    .EducationItems {
        display: block;
        
        padding-bottom: 30px;
        
    }
}