.Education {
    height: 100%;
    background-color: rgba(200, 116, 122, 0.1);
    padding: 30px;
}

.EducationItems {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
    .Education {
        padding: 45px;
    }

    .EducationItems {
        display: block;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    .Education {
        padding: 60px;
    }
}