.Experience {
    height: 100%;
    background-color: rgba(200, 116, 122, 0.1);
    padding-bottom: 20px;
}

.Title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 15px;
    color: #525252;
}