.FeaturedSkills {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 30px;
}

.LogosRow1 {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.LogosRow2 {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.Logo {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.LearnMore {
    padding-top: 30px;
    text-align: center;
}

.LearnMoreText {
    font-size: 18px;
    color: #95585C;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.LearnMoreText:hover {
    color: #C8747A;
}

.LearnMoreText:active {
    color: #C8747A;
}

.RightArrowIcon {
    vertical-align: bottom;
}

/*medium screens (Ex. tablets)*/
@media (min-width: 768px) {
    .FeaturedSkills {
        max-width: 600px;
        padding: 45px;
    }

    .Logo {
        height: 60px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .LearnMore {
        padding-top: 45px;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    .FeaturedSkills {
        padding: 60px;
    }
}