.NavigationItems {
    display: flex;
    flex-flow: column;
    padding-left: 0px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.NavText {
    padding-left: 10px;
    vertical-align: middle;
}